@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url("font-awesome/css/fontawesome-all.min.css");

html { font-family: 'Open Sans', sans-serif; }

.--white {
    color: white;
}

.--black {
    color: black;
}

.--orange {
    color: #eb6c27;
}

.--bold {
    font-weight: 700;
}

.--bolder {
    font-weight: bolder;
}

.--small {
    font-size: 12px;
}

.--big {
    font-size: 14px;
}

.--bigger {
    font-size: 18px;
}

.--title {
    font-size: 1.5em;
}

.--center {
    text-align: center;
}

.--none {
    display: none !important;
}

.--btn_gap_bot {
    margin-bottom: 50px;
}

.--btn_gap_top {
    margin-top: 50px;
}

h1 {
    color: #3A3A3A;
    font-size: 3em !important;
    font-weight: 800;
}

h2 {
    font-size: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

label {
    width: 100%; 
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #eb6c27;
    max-width: 30em;
  }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #eb6c27;
    font-size: 16px;
    max-width: 30em;
  }

select {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #eb6c27;
    max-width: 30em;
  }

.footer {
    background-color: #eb6c27;
    padding-bottom: 50px;
    margin-top: 80px;
}

.wrapper {
    padding-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 46px;
    height: 8px;
    margin: 5px auto;
    background: linear-gradient(to right, #eb6c27, #f28145, #f79661, #fcaa7d, #ffbe9a);
}

.dots {
    margin-top: 2em;
    margin-bottom: 2em;
}

.subdots {
    margin-top: 1.5em;
    margin-left: 40px;
}

.dot {
    margin-bottom: -0.5em;
}

.dot::before {
    content: '';
    margin-right: 16px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-color: #eb6c27;
    border-radius: 50%;
}

.phone_dot::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f095';
    margin-right: 16px;
    display: inline-grid;
    align-items: center;
    vertical-align: middle;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #eb6c27;
    border-radius: 50%;
    text-align: center;
}

.mail_dot::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f0e0';
    margin-right: 16px;
    display: inline-grid;
    align-items: center;
    vertical-align: middle;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #eb6c27;
    border-radius: 50%;
    text-align: center; 
}

.location_dot::before {
    font-family: 'Font Awesome 6 Free';
    content: '\f3c5';
    margin-right: 16px;
    display: inline-grid;
    align-items: center;
    vertical-align: middle;
    color: white;
    width: 32px;
    height: 32px;
    background-color: #eb6c27;
    border-radius: 50%;
    text-align: center; 
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    color: black;
}

.nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    min-width: 127px;
    min-height: 44px;
}

.div_page_header {
    height: 80vh;
    width: 100%;
    background-image: radial-gradient(transparent, rgb(0, 0, 0, 0.6)), url(../media/pageheader-1920w.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 0%;
    background-position: center center;
    background-size: cover; 
}

.duvera {
    height: 45vh;
    width: 100%;
    background-image: radial-gradient(transparent, rgb(0, 0, 0, 0.9)), url(../media/background-CTAblock-4460w.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 0%;
    background-position: center center;
    background-size: cover; 
}

.map {
    height: 45vh;
    width: 100%;
    background-image: url(../media/mapa.jpg);
    background-repeat: no-repeat;
    display: block;
    padding: 0%;
    background-position: center center;
    background-size: cover; 
}

.mar {
    margin: 0.3rem;
}

.comp_name {
    position: relative;
    text-align: center;
    bottom: -65%;
}

.comp_name_main {
    font-size: 30px;
}
.comp_name_desc {
    font-size: 20px;
}

.header_text {
    margin-top: 15%;
}

.header_sluzby_h {
    text-align: center;
    font-size: 22px;
}

.header_sluzby_p {
    text-align: center;
    font-size: 14px;
    border-left: 50px solid white;
    border-right: 50px solid white;
}

.container {
    margin: 3em;
}

.sluzby_item {
    display: flex;
}

.novostavby_img {
    object-fit: cover;
    border-bottom-right-radius: 15%;
    width: 100%;
    display: block;
    max-width: 660px;
    max-height: 307px;
}

.prum-stavby_img {
    object-fit: cover;
    border-bottom-left-radius: 15%;
    width: 100%;
    display: block;
    max-width: 660px;
    max-height: 307px;
}


.rekonstrukce_img {
    object-fit: cover;
    border-bottom-right-radius: 15%;
    width: 100%;
    display: block;
    max-width: 660px;
    max-height: 307px;
}

.komunikace_img {
    object-fit: cover;
    border-bottom-left-radius: 15%;
    width: 100%;
    display: block;
    max-width: 660px;
    max-height: 307px;
}

.galerie_reference_img {
    object-fit: cover;
    width: 100%;
    display: block;
    max-width: 500px;
    max-height: 307px;
}

.header_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 12em;
    background-color: #eb6c27;
    margin-top: 30px;
    margin: auto;
}

.more_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 12em;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB6C27FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='23' stroke-linecap='square'/%3e%3c/svg%3e");
    font-weight: bolder;
    margin-bottom: 50px;
}

.footer_main {
    font-size: 2em;
    font-weight: 800;
}

.reference_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 12em;
    background-color: #eb6c27;
    margin-bottom: 50px;
    margin: auto;
}

.footer_btn {
    padding: 2em 4em 2em 4em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 18em;
    background-color: white;
    margin: auto;
}

.contact_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 90%;
    max-width: 22em;
    background-color: #eb6c27;
    margin-top: 30px;
}

.duvera_btn {
    padding: 1em 2.5em 1em 2.5em;
    display: block;
    box-sizing: border-box;
    text-align: center;
    width: 12em;
    background-color: #eb6c27;
    margin-top: 30px;
}

.duvera_text_h {
    font-size: 17px;
}

.duvera_text {
    padding-left: 3em;
    padding-right: 5em;
    padding-top: 1.5em;
}

.o-nas_text {
    color: #3A3A3A;
    font-size: 19px;
}

.galerie_reference_item {
    margin-top: 80px;
}

.galerie_reference_text {
    align-content: center;
}

@media only screen and (max-width: 920px) {
    .nav-menu {
        box-sizing: border-box;
        position: fixed;
        left: -100%;
        top: 9rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        border-left: 50px solid white;
        border-right: 50px solid white;
        border-bottom: 100vh solid white;
        padding: 10px;
        background-color: #eb6c27;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        position: relative;
        text-align: left;
        margin: 1rem 0;
        left: 10%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .show {display: none;}

    .nav-link {
        color: white;
    }
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em !important;
    }

    .div_page_header {
        height: 50vh;
    }

    .header_btn {
        display: none;
    }

    .duvera {
        height: 33vh;
    }

    .map {
        height: 30vh;
    }

    .sluzby_item {
        display: block;
    }
    

    .novostavby_img {
        height: 134px;
        margin-left: auto;
        margin-right: auto;
    }

    .prum-stavby_img {
        height: 134px;
        margin-left: auto;
        margin-right: auto;
    }

    .rekonstrukce_img {
        height: 134px;
        margin-left: auto;
        margin-right: auto;
    }

    .komunikace_img {
        height: 134px;
        margin-left: auto;
        margin-right: auto;
    }

}